<html>

<head>
    <title></title>
</head>

<body>
    <h1 style="text-align: center;"><span style="color:#4B0082;">Guess the Country!!!</span></h1>

    <h2 style="text-align: center;"><span style="color:#800080;">Welcome!</span></h2>

    <p style="text-align: center;"><span style="color:#EE82EE;">I will show you a flag and you will pick which one of
            the 5 countries I will show you it is from...</span></p>

    <p style="text-align: center;"><span style="color:#B22222;">Do you know your flags????</span></p>

    <p style="text-align: center;"><span style="color:#B22222;"><span style="background-color:#8B4513;"><input
                    name="Play" type="button" value="Start!!" /></span></span></p>
</body>

</html>