<html>

<head>
    <title></title>
</head>

<body>
    <h1 style="text-align: center;"><span style="color: rgb(75, 0, 130);">Guess the Country!!!</span></h1>

    <p style="text-align: center;"><span style="color: rgb(75, 0, 130);"><img alt="" id="Flag" src="source"
                style="width: 90px; height: 60px; margin: 20px 100px;" /></span></p>

    <h2 style="text-align: center;"><span style="color:#800000;"><input name="Choice1" type="submit"
                value="Country1" /></span></h2>

    <p style="text-align: center;"><span style="color:#8B4513;"><input name="Choice2" type="submit"
                value="Country2" /></span></p>

    <p style="text-align: center;"><span style="color:#2F4F4F;"><input name="Choice3" type="submit"
                value="Country3" /></span></p>

    <p style="text-align: center;"><span style="color:#008080;"><input name="Choice4" type="submit"
                value="Country4" /></span></p>

    <p style="text-align: center;"><span style="color:#000080;"><input name="Choice5" type="submit"
                value="Country5" /></span></p>

    <p style="text-align: center;">&nbsp;</p>
</body>

</html>